{% load static %}
<!-- {% url 'polls:vote' question.id %} -->
<link rel="stylesheet" href="{% static 'network/style.css' %}">
<h1>Search Page</h1>

<form action="{% url 'index' %}" method="get">
    {% csrf_token %}
    <input type="text" name='q' placeholder="search...">
    <button type="submit">Search</button>
</form>

<!-- <form action="/network/" method="post">
    <label for="search">Event Title: </label>
    <input id="search" type="text" name="search" placeholder="Enter your search query...">
    <input type="submit" value="Search"> 
</form> -->


    <!-- <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul> -->