{% load static %}
<head>
    <title>Network Package Search</title>
    <link rel="stylesheet" href="{% static 'network/style.css' %}">
</head>
<!-- <script src="{% static '/network/script.js' %}"></script> -->


<header>
    <h1>Search Device Log</h1>
    <form action="/network/results/" method="get">
        {% csrf_token %}
        <input type="text" id="searchBar" name='q' placeholder="search...">
        <button type="submit">Search</button>
    </form>
</header>

<h2 id="results">Results</h2>
<div id="resultsContainer">
{% block content %}
{% if posts %}
    <ul>
    {% for row in posts %}
                <p>{{ row.eventTitle }}</p>
                <p>{{ row }}</p>
    {% endfor %}
    </ul>
{% else %}
    <p>Event Does Not Exist... Try Again</p>
{% endif %}
</div>
{% endblock %}