# ignore files related to API keys
.env
*.env

# ignore files related to virtual environment
myenv/

# ignore files related to mac
.DS_Store

# ignore files related to python
__pycache__/

# ignore Django database file
db.sqlite3
