body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 1em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  margin: 0;
}

#searchBar {
  padding: 10px;
  width: 400px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #5cb85c;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #4cae4c;
}

ul {
  margin-top: 20px;
  text-align: center;
}

#results {
  background-color: #959595;
  color: white;
  text-align: center;
  /* padding: 1em 0;  */
}